@import "variables.scss";

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c6c6c6;

    &:window-inactive {
        background: rgba(199, 236, 210, 0.4);
    }
}

*[relative] {
    position: relative;
}







.ubcs-container{

    .container {
        max-width: 100%;
    }
    //input readonly
    input[readonly] {
        color: rgba(0,0,0,.4);
    }




    textarea[readonly]{
        color: rgba(0,0,0,.4);
    }
    button:focus { outline: none; }

    .check_signet .mdi{
        color:$base-tab-text;
    }
    .check_signet .mdi:before {
        font-size: 20px;
        line-height:20px;
    }

    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span{
            width:100%;
            display: inline-block;
        }
        a{
            color:#1976d2;
            i{
                color:#1976d2;
            }
        }
    }

    a.ellipsis {
        display: inline-block;
        width: 100%;
    }


    a.read-text{
        color:rgba(68,68,68,1);
        font-weight:bold;
    }

    .font-size-10{font-size:10px !important; }
    .font-size-11{font-size:11px;}
    .font-size-12{font-size:12px;}
    .font-size-13{font-size:13px;}
    .font-size-14{font-size:14px;}
    .font-size-15{font-size:15px;}
    .font-size-16{font-size:16px;}
    .font-size-17{font-size:17px;}
    .font-size-18{font-size:18px;}
    .font-size-19{font-size:19px;}
    .font-size-20{font-size:20px;}


    .pa-t-25{padding-top:25px;}
    .ma-t-15{margin-top:15px;}

    .changed-value{
        background: #fafafa !important;
    }
    .w-40px{width:40px;}
    .w-50px{width:50px;}
    .w-60px{width:60px;}
    .w-65px{width:65px;}
    .w-70px{width:70px;}
    .w-80px{width:80px;}
    .w-90px{width:90px;}
    .w-100px{width:100px;}
    .w-110px{width:110px;}
    .w-120px{width:120px;}
    .w-130px{width:130px;}
    .w-140px{width:140px;}
    .w-150px{width:150px;}
    .w-160px{width:160px;}
    .w-170px{width:170px;}
    .w-180px{width:180px;}
    .w-190px{width:190px;}
    .w-200px{width:200px;}
    .w-210px{width:210px;}
    .w-220px{width:220px;}
    .w-230px{width:230px;}
    .w-240px{width:240px;}
    .w-250px{width:250px;}
    .w-260px{width:260px;}
    .w-270px{width:270px;}
    .w-280px{width:280px;}
    .w-285px{width:285px;}
    .w-290px{width:290px;}
    .w-10{width:10%}
    .w-20{width:20%}
    .w-30{width:30%}
    .w-40{width:40%}
    .w-50{width:50%}
    .w-60{width:60%}
    .w-70{width:70%}
    .w-80{width:80%}
    .w-90{width:90%}
    .w-100{width:100%}

    .miw-100px{min-width:100px;}
    .miw-110px{min-width:110px;}
    .miw-120px{min-width:120px;}
    .miw-130px{min-width:130px;}
    .miw-140px{min-width:140px;}
    .miw-150px{min-width:150px;}
    .miw-160px{min-width:160px;}
    .miw-170px{min-width:170px;}
    .miw-180px{min-width:180px;}
    .miw-190px{min-width:190px;}
    .miw-200px{min-width:200px;}
    .miw-210px{min-width:210px;}
    .miw-220px{min-width:220px;}
    .miw-230px{min-width:230px;}
    .miw-240px{min-width:240px;}
    .miw-250px{min-width:250px;}
    .miw-260px{min-width:260px;}
    .miw-270px{min-width:270px;}
    .miw-280px{min-width:280px;}
    .miw-290px{min-width:290px;}
    .miw-300px{min-width:300px;}
    .miw-350px{min-width:350px;}
    .miw-400px{min-width:400px;}
    .miw-700px{min-width:700px;}
    .miw-10{min-width:10%}
    .miw-20{min-width:20%}
    .miw-30{min-width:30%}
    .miw-40{min-width:40%}
    .miw-50{min-width:50%}
    .miw-60{min-width:60%}
    .miw-70{min-width:70%}
    .miw-80{min-width:80%}
    .miw-90{min-width:90%}
    .miw-100{min-width:100%}


    .maw-100px{max-width:100px;}
    .maw-110px{max-width:110px;}
    .maw-120px{max-width:120px;}
    .maw-130px{max-width:130px;}
    .maw-140px{max-width:140px;}
    .maw-150px{max-width:150px;}
    .maw-160px{max-width:160px;}
    .maw-170px{max-width:170px;}
    .maw-180px{max-width:180px;}
    .maw-190px{max-width:190px;}
    .maw-200px{max-width:200px;}
    .maw-210px{max-width:210px;}
    .maw-220px{max-width:220px;}
    .maw-230px{max-width:230px;}
    .maw-240px{max-width:240px;}
    .maw-250px{max-width:250px;}
    .maw-260px{max-width:260px;}
    .maw-270px{max-width:270px;}
    .maw-280px{max-width:280px;}
    .maw-290px{max-width:290px;}
    .maw-300px{max-width:300px;}
    .maw-350px{max-width:350px;}
    .maw-400px{max-width:400px;}
    .maw-700px{max-width:700px;}
    .maw-1100px{max-width:1100px;}

    .maw-10{max-width:10%}
    .maw-20{max-width:20%}
    .maw-30{max-width:30%}
    .maw-40{max-width:40%}
    .maw-50{max-width:50%}
    .maw-60{max-width:60%}
    .maw-70{max-width:70%}
    .maw-80{max-width:80%}
    .maw-90{max-width:90%}
    .maw-100{max-width:100%}

    .border-right-1{border-right:1px solid $base-border-color;}
    .border-left-1{border-left:1px solid $base-border-color;}
    .border-bottom-1{border-bottom:1px solid $base-border-color;}
    .border-top-1{border-top:1px solid $base-border-color;}

    .cursor-pointer{cursor: pointer;}
    .cursor-move{cursor: move;}
    .opacity-1{opacity: 1}
    .opacity-7{opacity: 0.7}
    .opacity-5{opacity: 0.5}
    .opacity-3{opacity: 0.3}

    .position-fixed{position: fixed;}
    .position-relative{position: relative;}
    .position-absolute{position: absolute;}

    .margin-left-30{margin-left:30px}
    .margin-left-40{margin-left:40px}
    .margin-left-50{margin-left:50px}

    .box-0{box-shadow: 0 0 0 !important;}

    .left-30px{left:30px!important;}
    .left-40px{left:40px!important;}
    .left-50px{left:50px!important;}
    .right-30px{right:30px!important;}
    .right-40px{right:40px!important;}
    .right-50px{right:50px!important;}



    .mdi-12px.mdi:before {
        font-size: 12px;
    }
    .mdi-13px.mdi:before {
        font-size: 13px;
    }
    .mdi-14px.mdi:before {
        font-size: 14px;
    }
    .mdi-15px.mdi:before {
        font-size: 15px;
    }
    .mdi-16px.mdi:before {
        font-size: 16px;
    }
    .mdi-17px.mdi:before {
        font-size: 17px;
    }
    .mdi-20px.mdi:before {
        font-size: 20px;
    }

    .mb-11px{margin-bottom: 11px}
    .border-top-0{border-top:0 !important;}


    .select2-line-version{
        .ub-select2{
            padding-top:10px;
        }
        .w-190px{width:100%;}

        .select2-container .select2-selection--single {
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #aaa;
        }
        .select2-container--default.select2-container--focus .select2-selection--single{
            border:solid $base-btn-primary 2px;
            outline:0
        }
    }

    .search-select2{
        .ub-select2{

        }
        .w-190px{width:100%;}

        .select2-container .select2-selection--single {
            border-radius: 4px;
            background: #fafafa;
            border: 1px solid #9b9b9b;
        }
        .select2-container--default.select2-container--focus .select2-selection--single{
            border:solid $base-btn-primary 2px;
            outline:0
        }
    }



    .ubcs-search-div > div{
        margin-right:8px;
        padding: 5px 0;
    }
    .ubcs-search-div{

        .v-btn:not(.v-btn--round).v-size--default {
            height: 40px;
        }
    }

    .description{
        padding: 10px;
        margin: 15px 15px 0 15px;
        border-left: 5px solid #000;
        height: auto;
        display: flex;
        align-items: center;
        h1{
            padding-bottom: 10px;
            font-size: 20px;
        }
    }
    .tabs-search{
        display: flex;
        padding: 0 16px;
        .v-input--selection-controls {
            margin-top: 10px;
            padding-top: 0;
        }
    }
    .layout-tabs-plus-btn{
        padding: 0 8px !important;
    }
    .show-details-dense .error--text{

        .v-input__control{
            position: relative;

        }
        .v-text-field__details {
            margin-bottom: 0;
            position:absolute;
            top:50%;
            right:0;
            margin-top:-7px;
        }
        .v-input__slot {
            margin-bottom: 0;
        }

    }
    .show-details-dialog .error--text{

        .v-input__control{
            position: relative;

        }
        .v-text-field__details {
            display: none;
        }
        .v-input__slot {
            margin-bottom: 0;
        }

    }

    .help-link-left{
        position: fixed;
        bottom: 10px;
        left: 13px;
        z-index:100;
    }

    .help-link{
        position: absolute;
        bottom: -2px;
        right: 10px;
    }



    .test-v-table{
        tr{
            &:last-child{
                td{
                    color:red;
                    .test123{
                        color:blue;
                    }
                }
            }
        }
    }
}
.alert{
    position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;
    .close{
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 25px;
    }
}
.alert-heading{color:inherit}
.alert-link{font-weight:700}
.alert-dismissible{padding-right:4rem}
.alert-dismissible .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit}
.alert-primary{color:#fff;background-color:$base-btn-primary;}
.alert-primary hr{border-top-color:$base-btn-primary}
.alert-primary .alert-link{color:#fff}

.alert-secondary{color:#fff;background-color:$base-btn-secondary;}
.alert-secondary hr{border-top-color:$base-btn-secondary}
.alert-secondary .alert-link{color:#fff}

.alert-success{color:#fff;background-color:$base-btn-success;}
.alert-success hr{border-top-color:$base-btn-success;}
.alert-success .alert-link{color:#fff}

.alert-info{color:#fff;background-color:$base-btn-info;}
.alert-info hr{border-top-color:$base-btn-info;}
.alert-info .alert-link{color:#fff}

.alert-warning{color:#fff;background-color:$base-btn-warning;}
.alert-warning hr{border-top-color:$base-btn-warning;}
.alert-warning .alert-link{color:#fff}

.alert-danger{color:#fff;background-color:$base-btn-error;}
.alert-danger hr{border-top-color:$base-btn-error}
.alert-danger .alert-link{color:#fff}

.alert-light{color:#818182;background-color:#fefefe;}
.alert-light hr{border-top-color:#ececf6}
.alert-light .alert-link{color:#686868}

.alert-dark{color:#1b1e21;background-color:#d6d8d9;}
.alert-dark hr{border-top-color:#b9bbbe}
.alert-dark .alert-link{color:#040505}


//alert 추가 html
.alert-title{
    display: flex;
}

.alert-cont{
    overflow: hidden;
    width:100%;
    display: block;
    text-align: justify;
    padding-top: 5px;
}
.ellipsis-two{
    width:100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}






.vue-file-agent .file-uploaded-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ubcs-container .v-data-table td {
    max-width: 0;
}

.ubcs-container .theme--light.v-data-table tbody tr.v-data-table__selected {
    background-color: #c8e6ea;
}



.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fixed-card-header {
    position: sticky;
    top: 0;
    background: #f7f7f7;
    z-index: 999999999;
}

.position-right {
    flex: auto;
    text-align: right;
}

.flex-auto {
    flex: auto;
}




/*===================================================[table-dl] ==========================================================*/
/* DL로 잡은 텍스트 레이아웃 */


.ubcs-container {

    //chats 공통 input
    .mdi-10px.mdi-set, .mdi-10px.mdi:before {
        font-size: 10px;
    }
    .mdi-21px.mdi-set, .mdi-21px.mdi:before {
        font-size: 21px;
    }

    //파일업로드

   .vue-file-agent.file-input-wrapper {
        margin-top: 10px;
    }

    .theme-list .vue-file-agent .file-preview-wrapper .file-preview:before {
        background: #fff;
    }

    .vue-file-agent {
        font-size: 12px;
        text-align: left;

        * {
            font-size: 12px;
            text-align: left;
        }
    }

    .theme-list .vue-file-agent .file-preview-wrapper .file-preview {
        .file-ext, .file-name, .file-progress, .file-size {
            font-size: 12px;
            text-align: left;
        }
    }

    .vue-file-agent .file-preview .file-delete svg {
        font-size: 20px;
    }

    .theme-list .vue-file-agent .file-preview-wrapper .file-preview .file-icon {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

    .vue-file-agent .file-preview .file-icon svg {
        fill: #000;
    }

    .grid-block-wrapper.is-compact .grid-block, .theme-list .vue-file-agent .file-preview-wrapper {
        width: auto;
    }

    .grid-block-wrapper.is-compact .grid-block, .theme-list .vue-file-agent .file-preview-wrapper {
        width: 50%;
    }

    .vue-file-agent .file-preview-new:before {
        background: #fff;
    }


}


// detailview 기본


.ubcs-detail-view{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 5px;
}
.ubcs-response-div {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .label-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex: 1;

        label {
            font-weight: bold;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 110px;
        }

        > div {
            flex: 10;
            word-break: break-all;
        }


    }
}
ul.sheet-contents{
    background: #f8f7f4;
    color: #212121;
    padding: 10px;
    line-height: 25px;
    font-size: 13px;
}

//detailview type-1
.ubcs-detail-view.type-1{
    .ubcs-response-div {
        padding: 15px 0;
        margin: 15px 0;
        border-bottom: 0 solid rgba(0, 0, 0, 0.2);

        .label-cont {
            position:relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
            margin: 0 15px;
            label {
                position: absolute;
                top: -20px;
                left: 0;
                font-size: 11px;
                color: rgba(0,0,0,0.5);
            }

            > div {
                margin-left:10px;
            }
        }
    }
}

//div-scroll-y
.div-scroll-y{
    height:calc(100vh - 140px);
    overflow-y: scroll;
}

.mp-number-field .v-text-field__slot {
    input {
        text-align: right;
        padding-right: 1px; /*for cursor*/
    }
}

//form control

.form-control{
    display:block;
    width:100%;
    height:30px;
    padding:.375rem .75rem;
    font-size:13px;
    font-weight:400;
    line-height:1.5;
    color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus{
        outline: none !important;
        box-shadow: inset 0 0 4px $base-tab-text;
    }
}
.form-control:read-only{
    background: rgba(0,0,0,.06) !important;
}
//input calendar readonly
.form-calendar-control:read-only{
    background: rgb(255,255,255) !important;
}


.input-group{

    display: flex;
    .v-text-field.v-text-field--solo.v-input--dense>.v-input__control {
        min-height:30px;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
        box-shadow: 0 0 0;
        border: 1px solid #ced4da;
    }
    textarea{
        border: 1px solid #ced4da;
    }

}
.input-group-prepend{flex-basis: 130px;min-width:130px;}
.input-group-content{width:40%;}
.input-group-append{
    width: 40px;
    height: 30px;
    border: 1px solid #ced4da;
    text-align: center;
    border-left: 0;
    border-radius: 0;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    button{
        width:100%;
    }
}
.date .input-group-append{
    height: 41px;
}
.button-group{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding:10px 0;
    button{
        height: 30px !important;
        flex-shrink: 0;
        flex-grow: 0;
        margin: 0 1px;
    }
}

.v-data-table{
    &.no-margin {
        margin: 0;
    }

    &.text-caption {
        td {
            font-size: .75rem!important;
        }
    }

    width: 99%;
    font-size: 12px;
    margin: 5px auto;
    table{
        th{
            padding:8px !important;

        }
        td{
            padding: 5px 5px 5px 8px !important;
        }
        .v-icon.mdi-checkbox-blank-outline , .v-icon.mdi-checkbox-marked, .v-icon.mdi-minus-box{
            font-size:19px;
        }
    }
}
.table {
    width:100%;
    font-size:12px;
    th{
        height:30px !important;
        padding:8px !important;

    }
    td{
        height:30px !important;
        padding: 5px 5px 5px 8px !important;
    }
}

.table-input{
    th{
        width:100px;
        text-align:center !important;
        border-right:1px solid rgba(123,123,123,0.1);
        background:rgba(123,123,123,0.1);
    }
    td{
        .v-label{
            font-size:14px;
        }
    }
}

.v-border-table.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row){
    border-bottom:1px solid $base-border-color;
}

.v-border-table{
    text-align: center;
    tr{
        &:last-child{
            td{
                border-bottom:1px solid $base-border-color;
            }
        }
        td{
            border-right:1px solid $base-border-color;
        }
    }

}

.border-table{
    text-align: center;
    td{
        border:1px solid #ededed;
        p{
            text-align: left;
        }
    }

}


.ubcs-trend-table{
    width:23%;
    margin:15px;
    font-size:12px;
    th{
        height:30px !important;
        padding:8px !important;

    }
    td{
        height:30px !important;
        padding: 5px 5px 5px 8px !important;
    }
}


@mixin random-color($selector) {
    #{$selector}: unquote("rgba(#{random(256) - 1}, #{random(256)-1}, #{random(256 - 1)})");
}
.profile-div-name {
    height: 45px;
    width:45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 16px;
        color:#fff;
    }
}



//검색
.searchKnowledgeDiv{
    width:1000px;
    padding:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -500px;
}
.searchNoposition{
    width:1000px;
    margin:0 auto;
    padding:10px;
    position: relative;
    top:0;
    left:0;
}
.cont-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.cont-title h1{
    font-size:33px;
    padding-bottom:15px;
}
.search-list-div{
    border-bottom:1px solid #ededed;
}


.layout-tabs-body-wrap{
    .v-data-table {
        margin: 0 auto;
    }
}
.v-slide-group__next, .v-slide-group__prev {
    flex: 0 1 30px;
    min-width: 30px;
}

.CWT1{
    float:left;
    width: 50%;
    .v-data-table{
        border-top:0 !important;
        border-radius: 0 !important;
    }
}
.CWT2{
    display: flex;
    width: 100%;
    .v-data-table{
        border-top:0 !important;
        border-radius: 0 !important;
    }
}


.swal2-styled.swal2-confirm {
    background-color: $base-btn-primary;
}


//타이핑 css3
/* Loader 8 */
.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
    animation: 1s infinite ease-in-out;
}
.loader:before,
.loader:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.loader-8:before,
.loader-8:after {
    content: '';
    background-color: #333;
    transform: scale(0);
    animation: loader8 1.5s infinite ease-in-out;
}
.loader-8:after { animation-delay: 0.75s; }


/*메뉴얼*/
.ubcs-manual{
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ededed;
    border-radius:10px;
    color: #000;
}
.ubcs-manual-header{
    padding: 20px 0;
    h1{font-size: 2em;}
}
.ubcs-manual-body{
    padding: 20px 0;
    a{
        color: #00e !important;
        cursor: pointer;
        text-decoration: underline;
    }
    h3{font-size: 1.17em;padding: 10px 0;}
    ul{
        li{
            display: list-item;
        }
    }
}


.ubcs-manual hr{
    border-color: #3d4a5d;
}

.ubcs-manual-footer{
    padding:20px;
}
.ubcs-manual-footer button{

    width:70px;
    background:#fff;
    height:30px;
    cursor:pointer;
    margin-left:10px;
    border:1px solid #3d4a5d;

}


.ub-demo-menu{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    border: 1px solid #ededed;
    z-index: 100;
    background: #fff;
    padding: 20px;
    display: none;

    .ub-demo-close{
        position: absolute;
        top:10px;
        right:10px;
    }

    .v-btn{
        width: 50px;
        height: 50px !important;
        border-radius: 50%;
        border-width: 3px;
        margin: 5px;
    }
}



@keyframes loader8 {
    0%   { transform: translateX(-100%) scale(0); }
    50%  { transform: translateX(0%)    scale(1); }
    100% { transform: translateX(100%)  scale(0); }
}


.editor-label{
    color: rgba(0,0,0,.6);
    font-size: 12px;
    padding-bottom: 3px;
}


//모바일
@media (max-width: 750px) {
    .ellipsis {
        max-width: 300px;
    }
    .ubcs-container{
        .v-data-table__wrapper{
            height:auto !important;
        }
        .v-data-table td {
            max-width: 100%;
        }
        .ubcs-search-div > div{
            width:100% !important;
            margin-right:0;
        }
    }
    .ubcs-response-div {
        display: block;

        .label-cont {
            width: 100%;
            padding: 10px 0;
        }
    }
    .type-1{
        .ubcs-response-div {
            padding: 0;
            margin: 0;

            .label-cont {
                margin: 30px 15px 0 15px !important;
                width:auto;
            }
        }
    }


}
//테블릿
@media (max-width: 1024px) {

}


.ub-channel-call{
    display: flex;
    width:100%;
    .ub-call-number{
        flex-basis: 70%;
    }
    .ub-call-icon{
        border: 1px solid #ededed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 10%;
    }
}
.transferSearch{
    display: flex;
    margin:10px auto;
    div{
        padding:5px;
    }
    .transferSearch-btn{
        flex-basis: 35px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-right: 0;
    }
    .transferSearch-input{
        flex: 10;
    }
}
.transferInfoTop{
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.transferInfo{
    padding:10px;
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 25%;

    .transferInfo-div{
        display: flex;
        border: 1px solid #ededed;
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
    }

    .transferInfo-profile{
        width: 100%;
        padding: 3px;
        .transferInfo-profile-div{
            align-items: center;
        }
        div{
            display: flex;
            span{
                padding: 0 5px;
                font-size: 14px;
            }
        }
        .transferInfo-profile-icon{
            align-items: center;
            justify-content: center;
        }
        .transferInfo-profile-name{
            span{
                padding: 0 3px;
                width: auto;
            }
        }

        .transferIngo-badge-div{
            align-items: center;
            justify-content: center;
            .badge-count{
                color: #fff;
                font-weight: bold;
                font-size: 19px;
            }
        }
    }
    .control-btn-wrap{
        align-items: center;
        display: flex;
        button{
            padding:5px;
        }
    }
}



